/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 sept 2023, 21:03:58
    Author     : U17302383
*/

.login_view {
  background-color: #EBEFFF;
  background-image: url("../assets/Login Pageloginview.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register_view {
  background-color: #EBEFFF;
  background-image: url("../assets/Register Pageregister.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-register {
    background-color: #3D3A7E;
    color: #fefefe;
}

.btn-register:hover {
    color: #626BD1;
}

.btn-login {
    background-color: #656ED3;
    color: #fefefe;
}

.btn-login:hover {
    color: #28235D
}

.background-sidebar {
    background-color: #09080D;
    
}

.text-items {
    color: #9E9E9E;
}


.email-button {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Add any other styles you want for the email button */
}

.margen {
    margin: 0 auto;
}